/* --------------- RESET --------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* --------------- EFFEKT --------------- */
.recipes_hover:hover {
  cursor: pointer;
  transform: scale(1.08);
  transition: 0.2s;
  transition-timing-function: linear;
}

/* --------------- BILLEDER --------------- */
.heroimg_raavare {
  height: auto;
  width: 100%;
}

.img_raavare {
  position: absolute;
  height: auto;
  width: 15%;
  top: -10%;
  left: 42%;
  border-radius: 50%;
  box-shadow: 5px 5px 18px rgb(147, 147, 147);
}

/* --------------- BAGGRUND --------------- */
.green_backgrpund {
  position: relative;
  background-color: var(--light_green);
  padding: 2.5% 4% 6% 4%;
}

.white_box {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5%;
  background-color: white;
  border-radius: 30px;
  margin: 6% 5% 0 5%;
  padding: 5% 8% 6% 8%;
}

/* --------------- LAYOUT --------------- */

.text_recipes {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 6% 0 5% 0;
}

.recipes_section {
  display: grid;
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 5%;
  margin: 0 10% 8% 10%;
}

/* --------------- DYNAMISK --------------- */
/* Navn på råvare */
.name_raavare {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 8%;
}

/* Desription */
.icon_description {
  height: auto;
  width: 28%;
}

/* Season */
.icon_season {
  height: auto;
  width: 28%;
}

/* Storage */
.icon_storage {
  height: auto;
  width: 28%;
}

/* Recipes */

.name_recipes {
  text-align: center;
  margin: 3% 0;
}

/* --------------- MOBILE --------------- */
@media (max-width: 800px) {
  .white_box {
    display: flex;
    flex-direction: column;
    gap: 10vw;
  }

  .facts_article {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
  }

  .img_raavare {
    position: absolute;
    height: auto;
    width: 30%;
    top: -6%;
    left: 34%;
    border-radius: 50%;
    box-shadow: 5px 5px 18px rgb(147, 147, 147);
  }

  .name_raavare {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
  }

  .green_backgrpund {
    position: relative;
    background-color: var(--light_green);
    padding: 18% 5% 14% 5%;
  }

  .white_box {
    display: flex;
    gap: 8vw;
    background-color: white;
    border-radius: 30px;
    margin: 6% 5% 0 5%;
    padding: 11% 10% 11% 12%;
  }

  .text_recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 12% 0 5% 0;
  }

  .recipes_section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 7vw;
    margin: 0 10% 8% 10%;
  }

  .hide_mob {
    display: none;
  }
}

@media (min-width: 800px) {
  .facts_article {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    align-items: center;
  }
}
