/* --------------- RESET --------------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    height: auto;
    display: block;
}

/* --------------- EFFEKT --------------- */
.recipes_hover:hover {
    cursor: pointer;
    transform: scale(1.08);
    transition: 0.2s;
    transition-timing-function: linear;
}

/* --------------- BILLEDER --------------- */
.heroimg_raavare {
    height: auto;
    width: 100%;
}

.img_raavare {
    position: absolute;
    height: auto;
    width: 15%;
    top: -10%;
    left: 42%;
    border-radius: 50%;
    box-shadow: 5px 5px 18px rgb(147, 147, 147)
}

/* --------------- BAGGRUND --------------- */
.green_backgrpund {
    position: relative;
    background-color: var(--light_green);
    padding: 11% 5% 6% 5%;
}

.white_box {
    display: flex;
    gap: 5%;
    background-color: white;
    border-radius: 30px;
    margin: 6% 5% 0 5%;
    padding: 5% 8% 6% 8%;
}

/* --------------- LAYOUT --------------- */
.facts_article {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
}

.text_recipes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 6% 0 5% 0;
}

.recipes_section {
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 5%;
    margin: 0 10% 8% 10%;
}

/* --------------- DYNAMISK --------------- */
/* Navn på råvare */
.name_raavare {
    /* margin: 0 0 0 44%; */
    /* display: flex; */
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

/* Desription */
.icon_description {
    height: auto;
    width: 28%;
}

.description_raavare {}

.text_description_raavare {}

/* Season */
.icon_season {
    height: auto;
    width: 28%;
}

.season_raavare {}

.text_season_raavare {}

/* Storage */
.icon_storage {
    height: auto;
    width: 28%;
}

.storage_raavare {}

.text_storage_raavare {}

/* Recipes */
.img_recipes {}

.name_recipes {
    text-align: center;
    margin: 3% 0;
}

/* --------------- MOBILE --------------- */
@media (max-width: 800px) {
    .white_box {
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }

    .facts_article {
        display: flex;
        flex-direction: column;
        gap: 5vw;
        align-items: center;
    }

    .img_raavare {
        position: absolute;
        height: auto;
        width: 30%;
        top: -6%;
        left: 34%;
        border-radius: 50%;
        box-shadow: 5px 5px 18px rgb(147, 147, 147);
    }

    .green_backgrpund {
        position: relative;
        background-color: var(--light_green);
        padding: 18% 5% 14% 5%;
    }

    .white_box {
        display: flex;
        gap: 8vw;
        background-color: white;
        border-radius: 30px;
        margin: 6% 5% 0 5%;
        padding: 11% 10% 11% 12%;
      }
    
    .text_recipes {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 12% 0 5% 0;
    }

    .recipes_section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 7vw;
        margin: 0 10% 8% 10%;
      }
}


/* --------------- FOOTER --------------- */
footer {
    background-color: rgb(25, 25, 25);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    padding: 3% 10%;
}

.icon_social {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 22%;
}

.img_icon_social {
    width: auto;
    height: 4rem;
}

.logo_footer {
    height: auto;
    width: 12%;
}

.text_footer {
    color: white;
    
}

.logo_layout {
    display: flex;
    gap: 5%;
    text-decoration: none;
}

/* FORM */
form {}

label, input, button {
    display: block;
}

input {
    border-radius: 5px;
    border: none;
    margin: 10% 0;
    padding: 4%;
    width: 140%;
}

button {
    padding: 3% 6%;
    width: 55%;
    color: white;
    background-color: var(--primary_g);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    transform: scale(1.08);
    transition: 0.5s;
}

.text_form {
    color: white;
    font-size: 1.6vw;
}

/* --------------- FOOTER - MOBILE --------------- */
@media (max-width: 800px) {
    footer {
        background-color: rgb(25, 25, 25);
        display: block;
        padding: 11% 10% 12% 10%;
    }

    .logo_layout {
        display: flex;
        gap: 5%;
        text-decoration: none;
    }

    .logo_footer {
        height: auto;
        width: 25%;
    }

    .text_footer {
        color: white;
        margin-top: 9%;
      }

    .icon_social {
        display: flex;
        gap: 9%;
        margin-top: 14%;
        margin-right: 0px;
        margin-bottom: 14%;
        margin-left: 0px;
    }

    /* FORMS */
    .text_form {
        color: white;
        font-size: 6vw;
      }
    
    input {
        border-radius: 5px;
        border: none;
        margin: 10% 0;
        padding: 4%;
        width: 100%;
    }
}